@charset "UTF-8";

.changepin-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info {
    width: 25%;
    margin-left: 50px;

    .section {
      .title {
        font-size: 1.5em;
        color: #4EB3EF;
      }
      .desc {
        font-size: 2.25em;
        font-weight: 800;
      }
      margin-bottom: 25px;
    }
  }

  .content {
    display: flex;
    width: 70%;
    flex-direction: column;

    h1 {
      font-size: 3em;
      font-weight: 800;
      color: white;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: flex-start;

      .input {
        width: 75%;
        max-width: 500px;
        margin-top: 20px;
        input {
          height: 40px;
          width: 100%;
          padding: 0px 5px;
        }
        .label {
          margin-bottom: 5px;
          font-size: 1.5em;
          font-weight: lighter;
          width: 100%;
        }
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: lighter;
      height: 50px;
      width: 102%;
      margin: auto;
      margin-top: 15px;
      background: #4EB3EF;
      color: #fff;
      transition: 0.2s all;
      box-shadow: rgba(0,0,0,0.15) 0 1.6rem 4.75rem;

      &:hover {
        box-shadow: rgba(0,0,0,0.4) 0 1.6rem 4.75rem;
        transform: scale(1.02, 1.02);
        cursor: pointer;
        background: #fff;
        color: #4EB3EF;
      }
    }
  }
}