@charset "UTF-8";

.register-container {
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.content {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.inputs {
			display: flex;
			flex-direction: column;
			width: 100%;

			.input {
				width: 80vw;
				max-width: 500px;
				margin: auto;
				margin-top: 20px;
				input {
					height: 40px;
					width: 100%;
					padding: 0px 5px;
				}
				.label {
					margin-bottom: 5px;
					font-size: 1.5em;
					font-weight: lighter;
					width: 100%;
				}
			}
		}

		.button {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: lighter;
			height: 50px;
			width: 102%;
			margin: auto;
			margin-top: 15px;
			background: #4EB3EF;
			color: #fff;
			transition: 0.2s all;
			box-shadow: rgba(0,0,0,0.15) 0 1.6rem 4.75rem;

			&:hover {
				box-shadow: rgba(0,0,0,0.4) 0 1.6rem 4.75rem;
				transform: scale(1.02, 1.02);
				cursor: pointer;
				background: #fff;
				color: #4EB3EF;
			}
		}
	}
}